.footer
        .footer__data
          .footer__section
            p Лорем ипсум долор сит амет, но пер лаореет медиоцрем, ех сед цетеро яуаерендум, цоммодо мелиоре вис те.
          .footer__section
            +nav('nav', navigation, 0, 4)
            include ./_socials.pug
          .footer__section
            +contacts('footerContacts', contacts )
        .footer__bottom
          .footer__copyrights
            include ./_copyright.pug