-
  var socials = [
    {
      network: "fb",
      link: "https://www.facebook.com/aleksey.patrushev.71"
    },{
      network: "gh",
      link: "https://github.com/AleksRedman"
    },
    {
      network: "in",
      link: "https://www.linkedin.com/in/aleks-patrushev/"
    }
  ]
  
