//-___________________Social Networks________________
-
  var socials = [
    {
      network: "fb",
      link: "https://www.facebook.com/aleksey.patrushev.71"
    },{
      network: "gh",
      link: "https://github.com/AleksRedman"
    },
    {
      network: "in",
      link: "https://www.linkedin.com/in/aleks-patrushev/"
    }
  ]
  
  
  //-___________________Navigation List________________
-
  var navigation = [
    {
      item: "Мои работы",
      link: "#"
    },{
      item: "Обо мне",
      link: "#"
    },
    {
      item: "Блог",
      link: "#"
    },
    {
      item: "Авторизация",
      link: "#"
    }
  ]