.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: $color-about-font;
  
  &__left{
    width: 50%;
    flex-grow: 1;
    background-color: $color-about-left;
    position: relative;
  }
  
  &__right{
    width: 50%;
    flex-grow: 1;
    background-color: $color-main;
    position: relative;
  }
  
  &__wrap{
    padding-left: 25px;
    padding-right: 25px;
  }
  
  &__title{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 55px;
    color: $color-about-font;
  }
}