.arrow {
  display: inline-block;
  
  &--down{
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -14px;
    z-index: 10;
  }
  
  &--norm-pos{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    z-index: 100;
  }
  
  &__icon{
    width: 28px;
    height: 16px;
    fill: $color-main;
    margin: 0 auto;
  }
}