.check-form{
  color: $color-main;
  width: 100%;
  font-family: $ff-main;
  
  &__title{
    text-transform: uppercase;
    font-family: $ff-main-titles;
    font-size: 35px;
    margin-bottom: 35px;
  }
  
  &__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: stretch;
    text-align: center;
  }
  
  &__field-wrap{
    margin-bottom: 20px;
    display: flex;
  }
  
  &__field{
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    border: none;
    outline: none;
  }
  
  &__icon-wrap{
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: $color-form-input;
    position: relative;
  }
  
  &__icon{
    position: absolute;
    fill: #bbc5c8;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;
  }
  
  &__checkbox{
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    text-align: center;
    align-self: center;
  }
  
  &__checkbox input[type="checkbox"]{
    visibility: hidden;
  }
  
  &__checkbox-btn{
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: $color-form-checkbox;
    border: none;
    border-radius: 3px;
    
    &::before,
    &::after{
      content: "";
      display: block;
      position: absolute;
      background: #fff;
      border: none;
    }
    
    &::before{
      width: 3px;
      height: 7px;
      transform: rotate(-45deg);
      left: 5px;
      top: 8px;
      visibility: hidden;
    }
    
    &::after{
      width: 3px;
      height: 11px;
      transform: rotate(45deg);
      left: 10px;
      top: 4px;
      visibility: hidden;
    }
  }
  
  &__checkbox input[type="checkbox"]:checked+span::after,
  &__checkbox input[type="checkbox"]:checked+span::before{
    visibility: visible;
  }
  
  &__radio-wrap{
    
  }
  
  &__radio{
    
  }
  
  &__radio-btn{
    
  }
}