.contacts{
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  
  &__popup{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 580px;
    margin-left: -280px;
    background-color: rgba($color-main, .8);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 70px;
  }
  
  &__title{
    margin: 0 auto;
    margin-bottom: 30px;
  }
}