.contacts{
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  
  &__popup{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 580px;
    margin-left: -280px;
  }
  
  &__title{
    margin: 0 auto;
    margin-bottom: 30px;
  }
}