.hero{
  
  &__wrapper{
    background-image: url(../img/bg_hero.png);
    background-color: $color-hero-bg;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    position: relative;
    
    &--flex{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  &__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: $ff-main;
    font-size: 16 px;
    align-self: stretch;
  }
  
  &__toggle{
    
  }
  
  &__toggle-icon{
    fill: $color-main;
    width: 40px;
    height: 40px;
  }
  
  &__stars{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -135px;
    margin-left: -230px;
    width: 460px;
    min-height: 270px;
    background-image: url(../img/stars__hero.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
  
  &__authorization{
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-bottom-left-radius: 7px;
    
    &:hover{
      background-color: transparentize($color-bg-opasity, .6);
    }
  }
  
  &__footer{
    padding-bottom: 30px;
  }
}