.skills{
  padding-bottom: 40px;
  
  &__group{
    display: block;
    margin-bottom: 40px;
    font-family: $ff-main-bold;
  }
  
  &__group-title{
    display: block;
    margin-bottom: 16px;
    font-size: 28px;
    
  }
  
  &__list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    
    &:last-child{
      margin-right: 0;
    }
  }
  
  &__item{
    width: 110px;
    height: 110px;
    position: relative;
    margin-right: 25px;
  }
  
  &__skill-name{
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    padding-left: 26px;
    padding-right: 26px;
    color: $color-skills-name;
    font-family: $ff-main;
    font-size: 13px;
  }
}