.skills{
  
  
  &__group{
    display: block;
  }
  
  &__group-title{
    margin-bottom: 19px;
  }
  
  &__list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    
  }
  
  &__item{
    width: 111px;
    height: 111px;
    position: relative;
    
  }
  
  &__skill-circle{
    width: 111px;
    height: 111px;
  }
  
  &__skills-name{
    display: block;
    position: absolute;
    top: -55px;
  }
}