.socials{
  height: 25px;
  
  &__item{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
  
  &__icon{
    width: 20px;
    height: 20px;
    fill: $color-main;
    
    &:hover{
      fill: $color-socials-user-block;
    }
  }
}