.triangle{
  
  width: 100%;
  height: 100px;
  
  
  &--fill-beige{
    fill: $color-about-left;
    position: absolute;
    top: -100px;
  }
  
  &--fill-white{
    fill: $color-main;
    position: absolute;
    top: -100px;
  }
  
  &--fill-blog{
    fill: $color-bg-blog;
    width: 50%;
  }
}