.user{
  
  &__photo{
    border-radius: 50%;
    width: 142px;
    height: 142px;
    background-image: url(../img/user_photo.jpg);
    background-repeat: no-repeat;
    background-position: 100% 60%;
    background-size: 100%;
  }
  
  &__name{
    
  }
  
  &__descr{
    
  }
}