.user{
  text-align: center;
  color: $color-main;
  
  &__title{
    font-family: $ff-main-titles;
    font-size: 63px;
  }
  
  &__photo{
    border-radius: 50%;
    width: 142px;
    height: 142px;
    background-image: url(../img/user_photo.jpg);
    background-repeat: no-repeat;
    background-position: 100% 60%;
    background-size: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }
  
  &__name{
    font-family: $ff-main-titles;
    letter-spacing: 1.3px;
    margin-bottom: 5px;
    font-size: 28px;
  }
  
  &__descr{
    font-family: $ff-main;
    margin-bottom: 25px;
    font-size: 16px;
    color: $color-main; 
  }
}

.hero__stars .user__name {
	font-size: 35px;
}