extends ../_template.pug

block pageTitle
  title About me

block content
  .wrapper
    section.container.hero
      .hero__wrapper
        .hero__header
          +socials('basic', socials)
          a(href = "#").hero__toggle
            +svg('hero__toggle-icon', 'hamburger')
        .hero__stars
          include ../sections/_userBox.pug
        a(href = "#").arrow.arrow--down
          +svg('arrow__icon', 'arrow_down')
    section.container.about
      .about__left
        svg.triangle.triangle--fill-beige(
          viewbox = "0, 0, 1000, 100" 
          preserveAspectRatio = "none"
          class = "triangle  triangle--fill-beige"
        )
          polygon(points = "0,0 0,100 1000,100")
        .about__wrap
          h1.title.about__title
            | Обо мне
          .user-about
            img.user-about__photo(src = "assets/img/about_photo.jpg" alt ="Photo")
            h2.subtitle.user-about__title
              | Кто я
            .user-about__text
              p Я начинающий веб разработчик из Херсона. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
          
      .about__right
        svg.triangle.triangle--fill-white(
          viewbox = "0, 0, 1000, 100" 
          preserveAspectRatio = "none"
          class = "triangle  triangle--fill-beige"
        )
          polygon(points = "0,100 1000,100 1000,0")
        .about__wrap
          .about-data
            .about-data__deskr
              h2.subtitle
                | Чем я могу быть вам полезен
              p.about-data__text
                | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .about-data__content
              ul.skills
                each skill in skills
                  each skillsArray, skillName in skill
                    li.skills__item
                      .skill-section
                        .skill-section__title= skillName
                        ul.skill-section__list
                          each skillTitle in skillsArray
                            li.skills-section__item
                              .skill
                                svg.skill__circle
                                .skill__name= skillTitle
    section.container.map
      .contact-box
        .contact-box__title.subtitle
          | Контакты
        +contacts('contacts', contacts )
      include ../sections/_footer.pug