extends ../_template.pug

block pageTitle
  title Autorization

block content
  .wrapper
    section.container.hero
      .hero__wrapper.hero__wrapper--login
        .hero__header
          +socials('basic', socials)
        .user-card.user-card--login
          form.check-form(name="authorization" method="post" action="#")
            .check-form__wrap
              h1.check-form__title
                | Авторизуйтесь
              label.check-form__field-wrap
                span.check-form__icon-wrap
                  svg.check-form__icon
                    use(xlink:href = `assets/img/sprite.svg#login`)
                input.check-form__field(type = "text" name = "login" placeholder = "Логин")
              label.check-form__field-wrap
                span.check-form__icon-wrap
                  svg.check-form__icon
                    use(xlink:href = `assets/img/sprite.svg#password`)
                input.check-form__field(type = "password" name = "password" placeholder = "Пароль")
              label.check-form__checkbox
                input(type ="checkbox" name = "humanTest")
                span.check-form__checkbox-btn
                | Я человек
              p Вы точно не робот?
              .check-form__radio-wrap
                label.check-form__radio
                  input(type ="radio" name = "sure" value="sure")
                  span.check-form__radio-btn
                  | Да
                label.check-form__radio
                  input(type ="radio" name = "sure" value="not-sure")
                  span.check-form__radio__btn
                  | Не уверен
            .user-card-nav
              ul.user-card-nav__list
                li.user-card-nav__item
                  a.user-card-nav__link(href ="./index.html") На главную
                li.user-card-nav__item
                  button.user-card-nav__link(type = "submit") Войти
        include ../sections/_copyright.pug