extends ../_template.pug

block pageTitle
  title My Blog

block content
  .wrapper
    section.container.hero
      .hero__wrapper
        .hero__header
          +socials('basic', socials)
          a(href = "#").hero__toggle
            +svg('hero__toggle-icon', 'hamburger')
        .hero__user-box
          .user
            .user__title
              | Мой Блог
            .user__descr
              | Здесь будут публиковаться интересные статьи из мира IT
        .hero__footer
          .hero__footer-head
            svg.triangle.triangle--fill-white
            svg.triangle.triangle--fill-white
    section.container.blog
      .blog__wrapper
        aside.blog__nav
          ul.blog__list
            li.blog__items
              a.blog__links(href = "#")
        main.blog__content
          +articles('articles', articles)
    section.container
      include ../sections/_footer.pug