extends ../_template.pug

block pageTitle
  title Welcome

block content
  .wrapper
    section.container.hero
      .hero__wrapper
        .hero__header
          +socials('basic', socials)
          a.hero__authorization(href = "./authorization.html") Авторизоваться
        .user-card
          include ../sections/_userBox.pug
          +socials('basic', socials)
          +nav('user-card-nav', navigation, 2, 3)
        include ../sections/_copyright.pug