extends ../_template

block pageTitle
  title Welcome

block content
  .wrapper
    section.conteiner.hero
      .hero__wrapper
        .hero__header
          a.hero__authorization(href = "./authorization.html") Авторизоваться
        .user-card
          include ../sections/_userBox.pug
          include ../sections/_socials.pug
          +nav('user-card-nav', navigation, 2, 3, 'user-card__btn')
        include ../sections/_copyright.pug