extends ../_template.pug

block pageTitle
  title My works

block content
  .wrapper
    section.container.hero.hero--flex
      .hero__wrapper.hero__wrapper--flex
        .hero__header
          +socials('basic', socials)
          a(href = "#").hero__toggle
            +svg('hero__toggle-icon', 'hamburger')
        .hero__user-box
          .user
            .user__photo
            .user__title.user__title--smaller
              | Патрушев Алексей
            .user__descr
              | Личный сайт веб разработчика
        a(href = "#").arrow.arrow--norm-pos
          +svg('arrow__icon', 'arrow_down')
      .footer-triangles
        .footer-triangles__head
          svg.triangle.triangle--fill-black(
            viewbox = "0, 0, 1000, 100" 
            preserveAspectRatio = "none"
          )
            polygon(points = "0,0 0,100 1000,100")
          svg.triangle.triangle--fill-black(
            viewbox = "0, 0, 1000, 100" 
            preserveAspectRatio = "none"
          )
            polygon(points = "0,100 1000,100 1000,0")
        .footer-triangles__title-wrap
          h1.title.footer-triangles__title Мои работы
    section.container.works
      .works__wraper
        .works__data
          .works__descr-card
            h2.works__title.subtitle Сайт школы онлайн образования
            p.works__technologies HTML, CSS, JAVASCRIPT
            a.works__watch-button(href = "#" target = "_blank") Посмотреть сайт
        .works__gallery
          .gallery
            .gallery__preview
              img(src = "#" alt = "Gallery img")
            .gallery__controls
              .gallery__button.gallery__button--prev
                a(href = "#").arrow.arrow--down
              .gallery__button.gallery__button--next
                a(href = "#").arrow.arrow--up
    section.container.feedback
      .feedback__wrapper
        h2.section-title Обратная связь со мной
        .feedback-form
          h2.feedback-form__title.subtitle
          form.feedback-form__wrap(name="feedback" method="post" action="#")
            input.feedback-form__item( type= "text" name = "name" placeholder = "Ваше имя")
            input.feedback-form__item( type= "email" name = "email" placeholder = "Ваш email")
            textarea.feedback-form__item.feedback-form__item--textarea(name = "message" placeholder = "Ваше сообщение")
            .feedback-form__buttons
              button(type = "submit") Отправить
              button(type = "reset") Очистить
        include ../sections/_footer.pug    