@font-face {
    font-family: "FontAwesome";
    src: url(../fonts/fontawesome-webfont.ttf) format("ttf"),
    url(../fonts/fontawesome-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf) format("ttf"),
    url(../fonts/Roboto-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-BoldItalic";
    src: url(../fonts/Roboto-BoldItalic.ttf) format("ttf"),
    url(../fonts/Roboto-BoldItalic.woff) format("woff");
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf) format("ttf"),
    url(../fonts/Roboto-Italic.woff) format("woff");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf) format("ttf"),
    url(../fonts/Roboto-Light.woff) format("woff");
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-LightItalic";
    src: url(../fonts/Roboto-LightItalic.ttf) format("ttf"),
    url(../fonts/Roboto-LightItalic.woff) format("woff");
    font-weight: lighter;
    font-style: italic;
}


@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf) format("ttf"),
    url(../fonts/Roboto-Medium.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-MediumItalic";
    src: url(../fonts/Roboto-MediumItalic.ttf) format("ttf"),
    url(../fonts/Roboto-MediumItalic.woff) format("woff");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf) format("ttf"),
    url(../fonts/Roboto-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Sansus-Webissimo-Regular";
    src: url(../fonts/Sansus-Webissimo-Regular.ttf) format("ttf"),
    url(../fonts/Sansus-Webissimo-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

