// Fonts

$ff-main: 'Roboto-Regular';
$ff-main-bold: 'Roboto-Bold';
$ff-main-light: 'Roboto-Light';
$ff-main-titles: 'Sansus-Webissimo-Regular';

//Colors

$color-main: #fff;
$color-hero-bg: #243c69;
$color-bg-opasity: #1c1f29;
$color-socials-user-block: #0741a7;
$color-nav-user-block: #0447bd;
$color-nav-hover-user-block: #083c96;
$color-form-text: #d3d6dc;
$color-form-input: #f0efe9;
$color-form-checkRadio: #0548be;
$color-about-left: #f2f0e8;
$color-about-font: #474b57;
$color-circle-bg: #dfdcd5;
$color-circle: #004cd1;
$color-skills-name: #243994;
$color-footer: #1c1f29;
$color-copyrights: #083c96;
$color-footer-font: #c0c0c0;
$color-contacts-icons: #004cd1;
$color-contacts-block-font: #787a81;
$color-bg-blog: #faf8f0;
$color-blog-font: #474b57;
$color-blog-date: #5074b1;
$color-blog-line: #c0cae9;
$color-blog-first-letter: #5874b0;