// Fonts

$ff-main: 'Roboto-Regular';
$ff-main-bold: 'Roboto-Bold';
$ff-main-light: 'Roboto-Light';
$ff-main-titles: 'Sansus-Webissimo-Regular';

//Colors

$color-main: #fff;
$color-hero-bg: #243c69;
$color-bg-opasity: #1c1f29;
$color-socials-user-block: #0741a7;
$color-nav-user-block: #0447bd;
$color-nav-hover-user-block: #083c96;
$color-form-text: #d3d6dc;
$color-form-input: #f0efe9;
$color-form-checkRadio: #0548be;